body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration-color: #212121;
  background-color: white;
  list-style: none;
}

p {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window h2 {
  margin-bottom: 30px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-imput-items {
  position: relative;
  display: flex;
  width: 100%;
}

.modal-imput-items:not(:nth-child(1)) {
  margin-bottom: 28px;
}

.modal-form-label {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 42px;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input,
.modal-massage {
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
  color: #757575;
}

.modal-massage {
  width: 100%;
  height: 120px;
  resize: none;
  color: #757575;
  padding: 12px 16px;
}

.modal-form-input:focus,
.modal-imput-items:focus,
.modal-massage:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:focus ~ .modal-form-label,
.modal-form-input:not(:placeholder-shown) ~ .modal-form-label {
  transform: translate(-16px, -40px);
  color: #2196f3;
  font-size: 12px;
  line-height: 14px;
}

.modal-massage:focus + .modal-massage-label,
.modal-massage:not(:placeholder-shown) + .modal-massage-label {
  transform: translateY(-30px);
  color: #2196f3;
  font-size: 12px;
  line-height: 14px;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox-item {
  display: flex;
  align-items: center;
}

.checkbox-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 16px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-svg {
  fill: white;
}

.modal-form-checkbox:checked + .checkbox-svg-container {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

.modal-checkbox-item {
  margin-bottom: 30px;
}

.modal-checkbox-item span a {
  color: #2196f3;
}

.modal-btn {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: #2196f3;
}

.icon-close {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 16px;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-icon-svg,
.modal-form-input:not(:placeholder-shown) + .modal-icon-svg {
  fill: #2196f3;
}

.title-of-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.header {
  border: 1px solid #ececec;
}

.header .contacts a {
  color: #757575;
}

.header a {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header a:hover,
.header a:focus {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .curent > a {
  color: #2196f3;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  margin-right: 85px;
}

.curent::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: #2196f3;
}

.header-items {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
}

.header-items a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-items .contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
}

.icon-header {
  fill: currentColor;
  display: inline-block;
  align-items: center;
  padding-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation {
  display: flex;
}

.header-items:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list > .contacts {
  margin-right: 30px;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.btn {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0px;
}

.heroes {
  max-width: 1600px;
  height: 600px;
  margin-bottom: 94px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/heroes/Header.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  display: flex;
}

.advantages li::before {
  content: "";
  display: inline-block;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
}

.advantages li:not(:last-child) {
  margin-right: 30px;
}

.advantages li {
  width: 270px;
}

.advantages-ikon {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}

.antena::before {
  background-image: url(../images/icons/icon-antena.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  background-image: url(../images/icons/icon-clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.computer::before {
  background-image: url(../images/icons/icon-computer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  background-image: url(../images/icons/icon-astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.we-do-items {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.we-do-container {
  display: flex;
  margin-bottom: 94px;
}

.we-do-container li:not(:last-child) {
  margin-right: 30px;
}

.teamattes-item {
  display: flex;
  background: #ffffff;
}

.teamattes-item > li {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-90px) / 4);
}

.teamattes-item > li:not(:last-child) {
  margin-right: 30px;
}

.teamattes {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.teamattes-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.teamattes-social-links {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  justify-content: space-around;
}

.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover, .social-icon:focus {
  fill: white;
  background-color: #2196f3;
}

.social-link-svg {
  width: 20px;
  height: 20px;
}

.clients-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 94px;
}

.clients-logo {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:focus, .clients-logo:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.footer a:hover,
.footer a:focus {
  color: #2196f3;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 20px;
  display: block;
}

.footer-social-list-item {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:hover {
  background-color: #2196f3;
}

.logo-footer {
  margin-top: 60px;
  margin-right: 147px;
  margin-bottom: 20px;
}

.adress-list li:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list li:last-child {
  margin-bottom: 60px;
}

.logo-web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-on-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.email-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.social-links-footer {
  display: flex;
}

.footer-instagram-icon {
  background-image: url(../images/socialnetworks-icons-footer/instagram.svg);
}

.footer-twitter-icon {
  background-image: url(../images/socialnetworks-icons-footer/twitter.svg);
}

.footer-facebook-icon {
  background-image: url(../images/socialnetworks-icons-footer/facebook.svg);
}

.footer-linkedin-icon {
  background-image: url(../images/socialnetworks-icons-footer/linkedin.svg);
}

.subscribe-section {
  margin-left: auto;
}

.subscribe-imput {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: medium;
}

.subscribe-imput::placeholder {
  padding-left: 16px;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-right: 28px;
  padding-left: 29px;
}

.subscribe-btn::after {
  background-image: url(../images/socialnetworks-icons-footer/icon-send.svg);
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  background-position: bottom;
}

.btn-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
}

.btn-portfolio:focus, .btn-portfolio:hover {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portolio-buttons {
  display: flex;
  margin-top: 93px;
  justify-content: center;
  margin-bottom: 50px;
}

.portolio-buttons li:not(:last-child) {
  margin-right: 8px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.portfolio-items {
  /* width: calc((100%-60px) / 3); */
  width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-items:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.portfolio-items:hover, .portfolio-items:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-items-text {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-text {
  position: absolute;
  color: white;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  top: 294px;
  width: 322px;
  height: 168px;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 23px;
  padding-bottom: 63px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-box {
  border: 1px solid #eeeeee;
}

.portfolio-items a:hover .portfolio-text {
  top: 0;
}
/*# sourceMappingURL=main.css.map */