.header
 {
  &-navigation {
    @media screen and (min-width: 768px) {
     display: flex;
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: 767px){
    padding-top: 16px;
    padding-bottom: 16px;
    }
    

    >a {
    @media screen and (min-width:768px)
      {
        display: flex;
      }

  }
}
  .contacts a
    {
    color: $secondary-text-color;
    }

  a {
      color: $main-text-color;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-items {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.14;
      position: relative;
      color: $main-text-color;
      letter-spacing: 0.02em;
      padding-bottom:  8px;
     
      @media screen and (max-width:767px)
     {
      &:not(:last-child) {
        margin-bottom: 40px; }
 
        &:last-child {
         margin-bottom: 60px;
          
         }
        }
       
     @media screen and (min-width:768px)
     {
     a {
     margin-bottom: 0px;
     padding-top: 32px;
     padding-bottom: 32px;
     }
     }
      @media screen and (min-width: 768px){
       font-family: Roboto;
       font-size: 14px;
       line-height: 1.14;
      letter-spacing: 0.02em;
}

      &:not(:last-child)
      {
        @media screen and (min-width: 768px){
      margin-right: 50px;
    }
  }
    a {
      @media screen and (min-width: 768px){
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
}

      

  
      
   
  
    >div {
      @media screen and (min-width: 768px)
      {
        align-items: center;
        justify-content: space-between;
      }
    }
     
    a:hover, 
    a:focus {
  color: $acent-color;
  }
}


// .header-items

.navigation {
display: none;
position: absolute;
top: 100%;
left: 0px;
text-align: center;
width: 100%;
background-color: white;
z-index: 100;

&.is-open  {
  display: block;
}

.curent-studio > a,
.curent-portfolio > a {
  color: $acent-color;
}

@media screen and (min-width:768px){
display: flex;
align-items: center;
align-content: center;
position: relative;
margin-left: 80px;
}
}


.menu-btn {
  background-color: transparent;
  border:none;
  width: 40px;
  height: 40px;

  @media screen and (min-width:768px){
    display: none;
  }

  &:hover svg,
  &:focus svg  {
    fill: $acent-color
  }
  
  &.is-open .icon-close{
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}

.icon-menu {
  width: 44px;
}
.icon-close {
  display: none;
}
.contacts-list {
  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;}

  margin-left: auto;

  >.contacts {
    // margin-right: 30px;

    &:not(:last-child){
    margin-bottom: 16px;
    @media screen and (min-width: 768px){
      margin-bottom: 10px;
    }
    }

    &:last-child {
      margin-bottom: 60px;
      @media screen and (min-width: 768px){
        margin-bottom: 0px;
      }
    }
    &:hover,
    &:focus {
      color: $acent-color;
    }
  }
}

.contacts:hover,
.contacts:focus {
  color: $acent-color;
}

   
.logo-web {
  font-family:$secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $acent-color; 
  // padding-top: 16px;
  // padding-bottom: 16px;

  // font-family:$secondary-font;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.9;
  // color: $acent-color;
}

.logo-studio {
  font-family:$secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $main-text-color; 

  

  // font-family: $secondary-font;
  // font-weight: 700;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  // color: $main-text-color;
  // margin-right: 85px;
}


.curent-studio::after,
.curent-portfolio:after {
  display: block;
  content: "";
  height: 4px;
  left: 50%;
  transform: translateX(-50%); ;
  background-color: $acent-color;
  border-radius: 2px;
  position: absolute;
  

  
}
.curent-studio::after{
width: 66px;
@media screen and (min-width:768px){
width: 100%;
bottom: 0px;
}
}
.curent-portfolio:after {
  width: 99px;
  @media screen and (min-width:768px){
    width: 100%;
    bottom: 0px;
    } 
  }




.navigation-items .contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
}

.icon-header {
  fill: currentColor;
  display: inline-block;
  align-items: center;
  padding-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-svg
{
  fill: black;
 
}
  