.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.btn {
  background-color: $acent-color;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0px;
}

.heroes {
  max-width: 1600px;
  height: 600px;
  margin-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/heroes/Header.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
