.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  h2 {
    margin-bottom: 30px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}


.modal-imput-items {
  position: relative;
  display: flex;
  width: 100%;
  
  &:not(:nth-child(1)) {
    margin-bottom: 28px;
  }
  
}

.modal-form-label {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 42px;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input,
.modal-massage {
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
  color: $secondary-text-color;
}

.modal-massage {
  width: 100%;
  height: 120px;
  resize: none;
  color: $secondary-text-color;
  padding:  12px 16px;
  }

.modal-form-input:focus,
.modal-imput-items:focus,
.modal-massage:focus {
  outline: none;
  // color: $acent-color;
  // border-color: $acent-color;
  border: 1px solid $acent-color;
}

.modal-form-input:focus ~ .modal-form-label,
.modal-form-input:not(:placeholder-shown) ~ .modal-form-label {
  transform: translate(-16px, -40px);
  color: $acent-color;
  font-size: 12px;
  line-height: 14px;
}

.modal-massage:focus + .modal-massage-label,
.modal-massage:not(:placeholder-shown) + .modal-massage-label {
  transform: translateY(-30px);
  color: $acent-color;
  font-size: 12px;
  line-height: 14px;
}
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-checkbox-item {
  display: flex;
  align-items: center;
}
.checkbox-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 16px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-svg {
  fill: white;
}

.modal-form-checkbox:checked + .checkbox-svg-container {
  background-color: $acent-color;
  border: 1px solid $acent-color;
}


.modal-checkbox-item {
  margin-bottom: 30px;
  
  span a {
    color: $acent-color;
  }
}
.modal-btn {
  background-color: $acent-color;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  
  &:hover .icon-close,
  &:focus .icon-close {
  fill: $acent-color;
}
}

.icon-close {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


.modal-icon-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 16px;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-icon-svg,
.modal-form-input:not(:placeholder-shown) + .modal-icon-svg {
  fill: $acent-color;
}
