
.title {
    font-weight: 700;
    line-height: 1.16;
    color: $main-text-color;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 30px;

  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  // text-align: center;
  // letter-spacing: 0.03em;
  // color: $main-text-color;
  // margin-top: 94px;
  // margin-bottom: 50px;
  
 
  
  
  &-of-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
